<div style="
	padding: 20px; 
	border: 0px solid blue;
	max-width: 300px;
	margin-right: auto; margin-left: auto; 
">
<paper-input 
	value="{{username}}" 
	aalways-float-label 
	label="Username"
></paper-input>
<paper-input 
	label="password"
>
</paper-input>

<paper-button raised class="indigo" >
	<iron-icon icon="check-circle"></iron-icon>
	Login
</paper-button>
<paper-button raised class="indigo">
	<iron-icon icon="language"></iron-icon>
	Google login
</paper-button>
<paper-button raised class="indigo">
	<iron-icon icon="language"></iron-icon>
	Facebook login
</paper-button>
<paper-button raised class="indigo">
	<iron-icon icon="send"></iron-icon>
	Register!
</paper-button>
<paper-button raised class="indigo">
	<iron-icon icon="help-outline"></iron-icon>
	Forgot password?
</paper-button>
</div>
