paper-button {
	display: block;
	min-width: 200px;
	margin: 10px 0px 10px 0px;
	atext-align: center;
}


    paper-icon-button {
      position: absolute;
      top: 12px;
      left: 8px;
    }

	  paper-button.indigo {
    background-color: var(--paper-indigo-500);
    color: white;
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }
  paper-button.indigo:hover {
    background-color: var(--paper-indigo-400);
  }